<!-- Footer -->
<div class="clearer"><span></span></div>

<div class="footer">

    <span class="left">&copy; <asp:Label ID="lblYear" runat="server" EnableViewState="false" />
            <a href="default.aspx">Genesis Theatre</a>. 
            Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a> 
            RSS <a href="xml/rss.xml">News feed</a>
            
            You are visitor number: &nbsp;<asp:Label ID="lblHitCounter" runat="server" EnableViewState="true"></asp:Label>
        </span>

    <span class="right">Template design by <a href="http://templates.arcsin.se">Arcsin</a></span>

    <div class="clearer"><span></span></div>

</div>